<nav class="grey darken-3">
    <div class="nav-wrapper container">
        <a class="brand-logo center">Jobster</a>
        <img style="align-items: center;height:3em;horizontal-align: 20px;margin: 10px;border-color: black;border-radius: 10px;border: 1px solid #C8C8C8;" src="/mascot.png" alt="lobster" className="slogo" rel="stylesheet" href="/public/css/style.css"/>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/mymatches">My Matches</a></li>
            <li><a href="/">Logout</a></li>
        </ul>
    </div>
</nav>


